body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #53ff04;
}

header {
  background-color: #74ff33;
  color: rgb(252, 255, 47);
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  color: gray;
}
